<div class="lg:w-4/4 md:w-2/2 p-4 w-full">
  <a class="block relative h-48 rounded overflow-hidden">
    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
      [src]="product ? product.imageUrl[0] : ''" [alt]="product?.name?.substring(0,20)"
      [routerLink]="['product', product?.slug]">
  </a>
  <button class="border-gray-200 rounded-full border-solid border-2 p-2 hover:border-pink"><img class="w-6 h-6"
      src="../../../../../assets/img/shopping-cart.png" alt="cart" (click)="addToCartHandler()"></button>
  <div class="mt-4">
    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{product?.category}}</h3>
    <h2 class="text-gray-900 title-font text-lg font-medium">
      {{product?.name?.substring(0,20)}}
      {{product && product.name[21] ? "..." : null}}
    </h2>
    <p class="mt-1">${{product?.price || 0}}
      <del>${{( product?.regular_price || 0 )}}</del>
      <span class="text-danger ml-3">{{product ? ((product.regular_price - product.price )/(product.regular_price) |
        percent) : null}}</span>
    </p>
  </div>
</div>