<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" routerLink="/"
      ng-reflect-router-link="" href="/">
      <img class="logo-header" src="../../../assets/little_market.png" alt="logo" class="w-20">
      <span class="ml-3 text-xl">Little Market</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900">First Link</a>
      <a class="mr-5 hover:text-gray-900">Second Link</a>
      <a class="mr-5 hover:text-gray-900" routerLink="/sign-in" ng-reflect-router-link="sign-in"
        href="/sign-in">Acceder</a>
      <a class="mr-5 hover:text-gray-900" routerLink="/sign-up" ng-reflect-router-link="sign-up"
        href="/sign-up">Registrarse</a>
    </nav>
    <button private authService=inject(AuthService); private authService=inject(AuthService);
      class="inline-flex items-center bg-pink border-0 py-1 px-3 focus:outline-none  rounded text-base mt-4 md:mt-0 text-white">Log
      Out
      <img class="w-4 h-4 ml-2 " src="../../../assets/logout.svg" alt="log out">
    </button>
  </div>
</header>