<form (ngSubmit)="doLogin()" [formGroup]="loginForm"
  class="lg:w-6/6 md:w-2/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
  <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Acceder</h2>
  <div class="relative mb-4">
    <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
    <input type="email" id="email" name="email"
      class="w-full bg-white rounded border border-gray-300 focus:border-pink-500 focus:ring-2 focus:ring-pink-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="email" required>
    @if (loginForm.controls['email'].invalid && loginForm.controls['email'].dirty ||
    loginForm.controls['email'].touched) {
    <div>
      @if (loginForm.controls['email'].errors) {
      <p class="text-danger text-sm">Email Incorrect</p>
      }
    </div>
    }
  </div>
  <div class="relative mb-4">
    <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
    <input type="password" id="password" name="password"
      class="w-full bg-white rounded border border-gray-300 focus:border-pink-500 focus:ring-2 focus:ring-pink-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
      formControlName="password" required autocomplete="off">
    @if (loginForm.controls['password'].invalid && loginForm.controls['password'].dirty ||
    loginForm.controls['password'].touched) {
    <div>
      @if (loginForm.controls['password'].errors) {
      <p class="text-danger text-sm">Password Incorrect</p>
      }
    </div>
    }
  </div>
  <div>
    @if (formSubmited === 'failed') {
    <p class="text-danger text-sm mb-2">Credentials are invalid</p>
    }
  </div>
  <button type="submit"
    class="text-white bg-pink border-0 py-2 px-8 focus:outline-none hover:bg-pink-600 rounded text-lg hover:bg-fuchsia-700">Button</button>
  <div class="flex justify-around">
    <a class="text-xs text-gray-500 mt-3 hover:text-pink" routerLink="/forgot-password">Can't log in?</a>
    <a class="text-xs text-gray-500 mt-3 hover:text-pink" routerLink="/sign-up">Sign up for an account</a>
  </div>
</form>