<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">Slow-carb next level shoindcgoitch ethical authentic,
        poko scenester</h1>
      <p class="leading-relaxed mt-4">Poke slow-carb mixtape knausgaard, typewriter street art gentrify hammock
        starladder roathse. Craies vegan tousled etsy austin.</p>
    </div>

    <form (ngSubmit)="register()" [formGroup]="registerForm"
      class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Registrarse</h2>
      <div class="relative mb-4">
        <label for="name" class="leading-7 text-sm text-gray-600">Nombre completo</label>
        <input type="text" id="name" name="name"
          class="w-full bg-white rounded border border-gray-300 focus:border-pink-500 focus:ring-2 focus:ring-pink-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          formControlName="name" required>
        @if (registerForm.controls['name'].invalid && registerForm.controls['name'].dirty ||
        registerForm.controls['name'].touched) {
        <div>
          @if (registerForm.controls['name'].errors) {
          <p class="text-danger text-sm">Min 3 characters</p>
          }
        </div>
        }
      </div>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600">Correo electrónico</label>
        <input type="email" id="email" name="email"
          class="w-full bg-white rounded border border-gray-300 focus:border-pink-500 focus:ring-2 focus:ring-pink-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          formControlName="email" required>
        @if (registerForm.controls['email'].invalid && registerForm.controls['email'].dirty ||
        registerForm.controls['email'].touched) {
        <div>
          @if (registerForm.controls['email'].errors) {
          <p class="text-danger text-sm">Email Incorrect</p>
          }
        </div>
        }
      </div>
      <div class="relative mb-4">
        <label for="password" class="leading-7 text-sm text-gray-600">Contaseña</label>
        <input type="password" id="password" name="password"
          class="w-full bg-white rounded border border-gray-300 focus:border-pink-500 focus:ring-2 focus:ring-pink-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          formControlName="password" required autocomplete="off">
        @if (registerForm.controls['password'].invalid && registerForm.controls['password'].dirty ||
        registerForm.controls['password'].touched) {
        <div>
          @if (registerForm.controls['password'].errors) {
          <p class="text-danger text-sm">Password Incorrect</p>
          }
        </div>
        }
      </div>
      <div class="relative mb-4">
        <label for="confirmPassword" class="leading-7 text-sm text-gray-600">Confirmar contraseña</label>
        <input type="password" id="confirmPassword" name="confirmPassword"
          class="w-full bg-white rounded border border-gray-300 focus:border-pink-500 focus:ring-2 focus:ring-pink-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          formControlName="confirmPassword" required autocomplete="off">
        @if (registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].dirty ||
        registerForm.controls['confirmPassword'].touched) {
        <div>
          @if (registerForm.controls['confirmPassword'].errors) {
          <p class="text-danger text-sm">Password Does Not Match</p>
          }
        </div>
        }
      </div>
      <button
        class="text-white bg-pink border-0 py-2 px-8 focus:outline-none hover:bg-pink-600 rounded text-lg">Button</button>
      <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
    </form>
  </div>
</section>